<div class="g-container">
  <div class="c-publicidade c-publicidade--horz-full">
    <div id='div-gpt-ad-1492540380399-0' class="inventory">
      <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1492540380399-0'); });</script>
    </div>
  </div>
</div>