<div class="c-publicidade c-publicidade--horz">
  <div id='div-gpt-ad-1490973153997-0' class="t-module inventory">
    <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1490973153997-0'); });</script>
  </div>
</div>