@* <div class="c-publicidade c-publicidade--square">
  <div id='div-gpt-ad-1457304329652-0' class="t-module inventory">
    <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1457304329652-0'); });</script>
  </div>
</div> *@


@* <div class="c-publicidade c-publicidade--fullpage">
  <div id='div-gpt-ad-1496090426337-0' class="t-module inventory">
    <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1496090426337-0'); });</script>
  </div>
</div>
 *@


@* <div class="c-publicidade c-publicidade--fullpage">
  <div id='div-gpt-ad-1496090426337-0' class="t-module inventory">
    <img src="http://placehold.it/1280x460">
  </div>
</div> *@


@* <div class="banner-float banner-float--fullpage banner-float--fixed trigger-banner-float c-publicidade">
  <div class="trigger-load-bar"></div>

  <div id='div-gpt-ad-1496090426337-0' class="inventory">
    <img src="http://placehold.it/1280x460">
  </div>
</div> *@


<div class="banner-float banner-float--fullpage banner-float--fixed trigger-banner-float c-publicidade">
  <div class="trigger-load-bar"></div>

  @* <div id='div-gpt-ad-1496090426337-0' class="inventory">
    <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1496090426337-0'); });</script>
  </div> *@

  <div id='div-gpt-ad-1496155051692-0' class="inventory">
    <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1496155051692-0'); });</script>
  </div>
</div>