<div class="g-container">
  <div class="c-publicidade c-publicidade--horz-full">
    <div id='div-gpt-ad-1492610674186-0' class="inventory">
      @* <button class="trigger-close-ad close-ad u-none" title="Fechar"><i class="fa fa-close"></i> Fechar</button> *@
      <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1492610674186-0'); });</script>
    </div>
  </div>
</div>