<div class="c-publicidade c-publicidade--square">
  <div id="div-gpt-ad-1456940131236-0" class="t-module inventory">
    <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1456940131236-0'); });</script>
  </div>
</div>