<div class="banner-float banner-float--retangulo-medio banner-float--fixeddd trigger-banner-float c-publicidade">
  <div class="trigger-load-bar"></div>

  <div id='div-gpt-ad-1490021740123-0' class="inventory">
    @* <button class="trigger-close-ad close-ad u-none" title="Fechar"><i class="fa fa-close"></i> Fechar</button> *@
    <script>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1490021740123-0'); });</script>
  </div>
</div>