@*<div class="sidebar__envie-noticia t-module">
  <a href="@Url.Action("Envie", "Institucional")" title="Envie sua notícia">
    <img src="@Url.Content("~/content/images/banners/envie-sua-noticia-light.png")" alt="Envie sua notícia">
  </a>
</div>*@

<div class="sidebar__envie-noticia c-publicidade">
  <div id='div-gpt-ad-1461003774353-0' class="t-module inventory--no-label">
    <script type='text/javascript'>googletag.cmd.push(function() { googletag.display('div-gpt-ad-1461003774353-0'); });</script>
  </div>
</div>