<div class="c-modal" id="modal-gallery" role="modal">
  <div class="c-modal__box">
    <button class="c-modal__close" data-modal="modal-gallery" title="Fechar"><i class="fa fa-close fa-2x"></i></button>
    <div class="c-modal__inner">
      <h3 class="title"></h3>
      <section class="c-gallery t-fotos">
        <div class="c-gallery__view">
        </div>
      </section>
      <div class="c-modal__footer">
        <p class="post-link">
          <span>Link da Notícia:</span>
          <a href="" title="Ir para a página da notícia"></a>
        </p>
      </div>
    </div>
  </div>
</div>
