<div class="c-regua c-regua--tags c-regua--tags-eleicoes-2016">
  <div class="g-container">
    <h2 class="h1 title title-tag"><a href="/tags/eleicoes-2016" title="Eleições 2016"><span class="label">Eleições 2016</span></a></h2>

    <ul class="links">
      <li><a href="/tags/eleicoes-2016/calendario" title="Calendário">Calendário</a></li>
      <li><a href="/tags/eleicoes-2016/candidatos" title="Guia de Candidatos">Guia de Candidatos</a></li>
    </ul>
  </div>
</div>