<div class="sidebar__envie-noticia t-module">
  <a href="@Url.Action("Envie", "Institucional")" title="Envie sua notícia">
    <img src="@Url.Content("~/content/images/banners/envie-sua-noticia-light.jpg")" alt="Envie sua notícia">
  </a>
</div>