<div class="c-tabs c-tabs-esportes" role="tablist" data-tabs="tab-menu-times">
  <ul class="c-tabs__nav">
    <li role="tab">
      <button class="c-tabs__tab is-active" data-tabs="tab-menu-times" data-tabpanel="tab-menu-times-resumo-serie-a" title="Série A">Série A</button>
    </li>
    <li role="tab">
      <button class="c-tabs__tab" data-tabs="tab-menu-times" data-tabpanel="tab-menu-times-resumo-serie-b" title="Série B">Série B</button>
    </li>
  </ul>
  <div id="tab-menu-times">
    <div id="tab-menu-times-resumo-serie-a" class="c-tabs__tabpanel" role="tabpanel">
      <span class="tbl-st-team"><span class="tbl-team-AME"><a href="/tags/america-mineiro" title="América-MG"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CAM"><a href="/tags/atletico-mineiro" title="Atlético-MG"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CAP"><a href="/tags/atletico-paranaense" title="Atlético-PR"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-BAH"><a href="/tags/bahia" title="Bahia"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-BOT"><a href="/tags/botafogo" title="Botafogo"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CEA"><a href="/tags/ceara" title="Ceará"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CHA"><a href="/tags/chapecoense" title="Chapecoense"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-COR"><a href="/tags/corinthians" title="Corinthians"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CRU"><a href="/tags/cruzeiro" title="Cruzeiro"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-FLA"><a href="/tags/flamengo" title="Flamengo"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-FLU"><a href="/tags/fluminense" title="Fluminense"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-GRE"><a href="/tags/gremio" title="Grêmio"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-INT"><a href="/tags/internacional" title="Internacional"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-PAL"><a href="/tags/palmeiras" title="Palmeiras"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-PAR"><a href="/tags/parana-clube" title="Paraná"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-SAN"><a href="/tags/santos" title="Santos"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-SPL"><a href="/tags/sao-paulo-fc" title="São Paulo"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-SPO"><a href="/tags/sport" title="Sport"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-VAS"><a href="/tags/vasco" title="Vasco"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-VIT"><a href="/tags/esporte-clube-vitoria" title="Vitória"><span class="shild"></span></a></span></span>
    </div>
    <div id="tab-menu-times-resumo-serie-b" class="c-tabs__tabpanel" role="tabpanel">
      <span class="tbl-st-team"><span class="tbl-team-ATG"><a href="/tags/atletico-goianiense" title="Atlético-GO"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-AVA"><a href="/tags/avai" title="Avaí"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-BEC"><a href="/tags/boa-esporte-clube" title="Boa Esporte Clube"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-BRS"><a href="/tags/brasil-de-pelotas" title="Brasil-RS"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CFC"><a href="/tags/coritiba" title="Coritiba"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CRB"><a href="/tags/crb" title="CRB"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CRI"><a href="/tags/criciuma" title="Criciúma"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-CSA"><a href="/tags/csa" title="CSA"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-FIG"><a href="/tags/figueirense" title="Figueirense"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-FOR"><a href="/tags/fortaleza-esporte-clube" title="Fortaleza Esporte Clube"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-GOI"><a href="/tags/goias" title="Goiás"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-GUA"><a href="/tags/guarani" title="Guarani"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-JUV"><a href="/tags/juventude" title="Juventude"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-LON"><a href="/tags/londrina-esporte-clube" title="Londrina"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-OES"><a href="/tags/oeste-futebol-clube" title="Oeste"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-PAY"><a href="/tags/paysandu" title="Paysandu"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-PON"><a href="/tags/ponte-preta" title="Ponte Preta"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-SAM"><a href="/tags/sampaio-correa" title="Sampaio Corrêa"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-SBN"><a href="/tags/esporte-clube-sao-bento" title="São Bento"><span class="shild"></span></a></span></span>
      <span class="tbl-st-team"><span class="tbl-team-VIL"><a href="/tags/vila-nova-futebol-clube" title="Vila Nova"><span class="shild"></span></a></span></span>
    </div>
  </div>
</div>