<div class="c-modal" id="modal-video" role="modal">
  <div class="c-modal__box">
    <button class="c-modal__close" data-modal="modal-video" title="Fechar"><i class="fa fa-close fa-2x"></i></button>
    <div class="c-modal__inner">
      @*<h3 class="title">Atlético-PR se reapresenta e começa preparação para enfrentar o Palmeiras</h3>*@
      <div class="c-modal__media-wrapper">
        <div class="u-video-wrapper">
          <!-- O src do video virá do atributo data-modal-ref do link que abre o modal -->
          <iframe src="" id="player" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="c-modal__footer">
        <p class="post-link">
          @*<span>Link da Notícia:</span>*@
          <a href="#" title="Ir para a página da notícia"></a>
        </p>
      </div>
    </div>
  </div>
</div>
