<div class="sidebar__ultima-edicao t-module t-border">
  <h3 class="title t-page-color">Última edição</h3>
  <a href="https://issuu.com/wherecuritiba/docs/where_curitiba_134_issuu_" class="cover" target="_blank" rel="nofollow">
    @* <div class="mask-button">
      <span class="c-button c-button-where small t-page-button">Clique para abrir</span>
      <span class="mask"></span>
    </div> *@
    <img src="@Url.Content("~/content/images/where/edicoes/where-curitiba-134.jpg")" alt="Última edição da Revista Where Curitiba">
  </a>
  <div class="group-button">
    <a href="https://issuu.com/wherecuritiba/docs/where_curitiba_134_issuu_" target="_blank" rel="nofollow" class="c-button c-button-where small t-page-button" title="Confira a última edição da Where Curitiba">Confira a última edição</a>
    @* <a href="https://issuu.com/wherecuritiba/docs/where_auto_4_issuu" target="_blank" rel="nofollow" class="link">Confira também a edição especial Where Auto</a> *@
    <a href="https://issuu.com/wherecuritiba" target="_blank" rel="nofollow" class="link">Ver todas as edições</a>
  </div>
</div>