<div class="t-module t-border">
  <h3 class="title t-page-color">Siga a Where Curitiba</h3>
  <ul class="c-social-links">
    <li><a href="https://www.facebook.com/WhereCuritiba/" target="_blank" class="icon u-margin-bottom-none" title="Facebook">
      <span class="fa-stack fa-lg color-facebook">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a></li>
    <li><a href="https://twitter.com/WhereCuritiba" target="_blank" class="icon u-margin-bottom-none" title="Twitter">
      <span class="fa-stack fa-lg color-twitter">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a></li>
    <li><a href="https://www.instagram.com/WhereCuritiba/" target="_blank" class="icon u-margin-bottom-none" title="Instagram">
      <span class="fa-stack fa-lg color-instagram">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a></li>
  </ul>
</div>