@section bodyClass{@Html.Raw("where-15-anos pg-where")}

<main class="g-main">
  @Html.Partial("_HeaderWhere15Anos")

  <section class="g-container t-content">
    <ul class="bar-links bar-menu">
      <li><i class="fa fa-image"></i><a href="/promocao/where-15-anos">FOTOS</a></li>
      <li class="active"><i class="fa fa-trophy"></i><a href="/promocao/where-15-anos/premiacao">PREMIAÇÃO</a></li>
      <li><i class="fa fa-users"></i><a href="/promocao/where-15-anos/jurados">JURADOS</a></li>
      <li><i class="fa fa-file-text-o"></i><a href="/promocao/where-15-anos/regulamento">REGULAMENTO</a></li>
    </ul>

    <hr />

    <h3 class="t-page-color">Os cinco melhores colocados poderão escolher, por primeiro, qualquer prêmio da lista</h3>

    <ul class="lista-premios">
      <li>Fim de semana em resort em Santa Catarina</li>
      <li>15 ingressos de cinema</li>
      <li>Diária em hotel com pacote de núpcias</li>
      <li>Passeio de balão</li>
      <li>Passeio de trem para Morretes com almoço para duas pessoas</li>
      <li>Voucher de R$ 400 reais em compras em e-commerce</li>
      <li>Dia de massagens e tratamentos estéticos em um spa urbano</li>
      <li>Cesta gourmet com vinhos, espumantes, temperos e iguarias importadas</li>
      <li>Curso a escolher (línguas, artes ou música) e uma gravura do Poty Lazzarotto</li>
      <li>Tour Curitidoce para duas pessoas</li>
      <li>Voucher de R$ 400 em estabelecimentos gastronômicos</li>
      <li>Jantar em restaurante panorâmico</li>
      <li>Passeio em estância hidromineral em Campo Largo mais um Kit de produtos</li>
      <li>Rafting em Cerro Azul</li>
      <li>Passeio panorâmico de helicóptero</li>
    </ul>
  </section>
</main>