@section bodyClass{@Html.Raw("where-15-anos pg-where")}

<main class="g-main">
  @Html.Partial("_HeaderWhere15Anos")

  <section class="g-container t-content">
    <ul class="bar-links bar-menu">
      <li><i class="fa fa-image"></i><a href="/promocao/where-15-anos">FOTOS</a></li>
      <li><i class="fa fa-trophy"></i><a href="/promocao/where-15-anos/premiacao">PREMIAÇÃO</a></li>
      <li><i class="fa fa-users"></i><a href="/promocao/where-15-anos/jurados">JURADOS</a></li>
      <li class="active"><i class="fa fa-file-text-o"></i><a href="/promocao/where-15-anos/regulamento">REGULAMENTO</a></li>
    </ul>
    
    <hr />

    <h1 class="h3 t-page-color">REGULAMENTO CONCURSO CULTURAL – “WHERE CURITIBA 15 ANOS”</h1>
    <br>

    <h2 class="h4 t-page-color">1. DA EMPRESA PROMOTORA</h2>
    <p>1.1 Esta promoção é de responsabilidade da empresa MCC Comunicação Ltda / Where Curitiba, inscrita sob o CNP nº 13698406/0001-31, com sede na rua Antonio Kaminski, 191, Orleans, Curitiba, e será divulgada e válida em Curitiba e Região Metropolitana, única e exclusivamente para pessoas físicas, maiores de idade e domiciliadas no Estado do Paraná.</p>

    <h2 class="h4 t-page-color">2. DO PERÍODO DA PROMOÇÃO</h2>
    <p>2.1 O período de participação e realização de inscrições na promoção iniciará às 11 horas do dia 14/11/2016, encerrando-se impreterivelmente às 14 horas do dia 28/11/2016.</p>

    <h2 class="h4 t-page-color">3. DA PARTICIPAÇÃO</h2>
    <p>3.1 Não obstante as pessoas indicadas no item 1.1 acima, não estão aptos a participarem da promoção os sócios e funcionários da Revista Where Curitiba, das outras empresas que fazem parte do mesmo grupo empresarial, bem como seus respectivos cônjuges e outros parentes até 2º grau, e, quaisquer outras pessoas diretamente ligadas à citada promoção, mesmo que não possuam vínculo empregatício ou de prestação de serviços com as referidas empresas.</p>

    <h2 class="h4 t-page-color">4. DA MECÂNICA DA PROMOÇÃO</h2>
    <p>4.1 O telespectador deverá acessar o site <a href="//massanews.com/promocao/where-15-anos" class="t-page-color">www.wherecuritiba.com.br/15anos</a>, preencher o formulário, anexar uma selfie ou foto em que o participante <strong>obrigatoriamente</strong> apareça mostrando “O QUE É A CARA DE CURITIBA PARA VOCÊ”. Uma comissão julgadora fará a triagem e selecionará as 10 (dez) melhores fotos e o júri popular selecionará mais 5 (cinco) fotos. As 15 fotos selecionadas pela comissão julgadora e pelo júri popular serão premiadas.
    <br>4.1.1 Não serão aceitas selfies de participantes que não forem realizadas da forma indicada no item 4.1 acima, como por exemplo, fotos apenas de paisagens, de banco de imagens, de terceiros ou fora da temática proposta.
    <br>4.2 Cada participante poderá concorrer com apenas uma inscrição. Caso seja recebida mais de uma inscrição do mesmo participante, a escolha da foto concorrente ficará a critério da equipe da Where Curitiba.
    <br>4.3 O resultado do concurso cultural “Where Curitiba – 15 anos”, com os nomes dos 15 vencedores, será divulgado dia 30/11/2016 às 15h, no site da Where Curitiba (<a href="//massanews.com/promocao/where-15-anos" class="t-page-color">www.wherecuritiba.com.br/15anos</a>) e também na página da Revista Where Curitiba no Facebook (www.facebook.com/WhereCuritiba).
    <br>4.4 A Revista Where Curitiba se reserva o direito de excluir participantes que tenham enviado fotos com conteúdo impróprio ou que não obedeçam a todas as especificações previstas neste regulamento.
    <br>4.5 Na hipótese de verificação de fraude, tentativa de fraude ou abuso relativo ao concurso, o participante será excluído automaticamente, podendo ainda responder por crime de falsidade ideológica ou documental.</p>

    <h2 class="h4 t-page-color">5. DOS PRÊMIOS</h2>
    <p>5.1 A responsabilidade da Revista Where Curitiba se encerra no momento da entrega do prêmio ou ao final do prazo previsto, o que ocorrer em primeiro lugar. 
    <br>5.2. A Revista Where Curitiba não é responsável pela qualidade dos prêmios ofertados, ou, quaisquer outros atos e fatos oriundos de casos fortuitos e de força maior que impeçam ou atrasem os ganhadores de fruírem do resultado da promoção.
    <br>5.3. Estarão automaticamente desclassificados os participantes que fornecerem dados incorretos ou incompletos, ou, que não enviarem a foto de forma correta no ato da inscrição.
    <br>5.4. Os prêmios distribuídos deverão ser livres e desembaraçados de qualquer ônus para o sorteado.
    <br>5.5. Os prêmios não podem ser trocados por outros, muito menos convertidos em dinheiro, consoante a previsão do parágrafo 3º do artigo 1º da Lei 5.768/71.
    <br>5.6. Os 15 prêmios são:</p>

    <p>1. Fim de semana para um casal e até 2 crianças na Pousada Pedra da Ilha com café da manhã incluso. 
    <br><small>* A estadia começa às 14h da sexta-feira e termina às 12h de domingo.</small>
    <br><small>* O ganhador pode usar o prêmio até 20 de dezembro/2016, ou de 15 de fevereiro a março/2017, exceto em feriados e datas comemorativas.</small></p>

    <p>2. 15 ingressos para sessões de cinema no Cinemark do shopping Mueller, Barigui ou São José.
    <br><small>* Ingressos válidos até o dia 31 de julho de 2017, em sessões exibidas de segunda à domingo, qualquer horário, exceto filmes em 3D.</small></p>

    <p>3. Noite de Núpcias no Bourbon Curitiba. O quarto é decorado com um arranjo de flores e o enxoval é feito especialmente para a ocasião. Trufas e uma garrafa de espumante completam o clima de romantismo e ainda há um presente exclusivo, preparado pelo hotel para os dois. A diária permite ainda que o café da manhã seja servido no próprio apartamento até às 11 horas.
    <br><small>* Noite romântica válida até 28 de fevereiro de 2017.</small></p>

    <p>4. Passeio de balão na em Campo Largo/PR.
    <br><small>* Depende de condições climáticas e fechar turma. Usar até fim de fevereiro.</small></p>

    <p>5. Passeio de trem executivo, para 2 (duas) pessoas até Morretes, com almoço típico incluso.
    <br><small>* O trem sai de Curitiba e vai até Morretes, incluso city tour em Antonina e retorno para Curitiba de van.</small></p>
    
    <p>6. R$ 400,00 reais (quatrocentos reais) em compras no e-commerce da Amey (loja de roupas femininas), para ser usado até 31 de janeiro de 2017.</p>
    
    <p>7. Um dia de massagens e tratamentos na Clínica de Estética Vitaclin. 
    <br><small>* Para ser utilizado durante o mês de janeiro.</small></p>
    
    <p>8. R$ 400,00 em produtos numa cesta gourmet com vinhos, espumantes e temperos/iguarias importadas. 
    <br><small>* O ganhador deverá retirar a cesta de produtos da loja Porto a Porto em dezembro/2016 na Revista Where.)</small></p>
    
    <p>9. Um curso a escolher (línguas, artes ou música) no Solar do Rosário e uma obra de arte/gravura do Potty Lazaroto. 
    <br><small>* Os cursos tem início em fevereiro ou março/2017</small></p>
    
    <p>10. 2 vagas no Tour Curitidoce (degustação de doces em diferentes locais de Curitiba) 
    <br><small>* Estão incluso no tour o guia, as fotos e as degustações.</small></p>
    
    <p>11. R$ 400,00 em vouchers a serem gastos em diferentes estabelecimentos gastronômicos de Curitiba. </p>
    
    <p>12. Jantar romântico no Terraza 40, o único restaurante panorâmico de Curitiba. 
    <br><small>* Voucher válido para dezembro/2016 e janeiro/2017.</small></p>
    
    <p>13. Entrada para 4 adultos e 4 crianças no Parque Ouro Fino + kit com produtos Ouro Fino. 
    <br><small>* Entradas válidas até abril/2017.</small></p>
    
    <p>14. Atividade de rafting com acompanhante em Cerro Azul no trecho normal com 2 horas de duração com equipamentos e instrutores especializados. 
    <br><small>* Necessário agendar com mínimo de 1 semana de antecedência. Sujeito a disponibilidade de vagas. Prêmio pode ser utilizado até 31 de março/2017.</small></p>
    
    <p>15. Passeio panorâmico de helicóptero em Curitiba para 1 pessoa.</p>

    <p>5.7 Os 5 (cinco) primeiros colocados poderão escolher os prêmios que querem entre os 15. Cada candidato que escolher o prêmio, por ordem de chegada, exclui a possibilidade de outro vencedor escolher o mesmo prêmio. 
    <br>5.8. O júri técnico fará um ranking entre as 15 fotos e escolherá quais são as 5 primeiras que escolherão os prêmios.
    <br>5.9. Após o resultado, os vencedores terão até o dia 10 de dezembro/2016 às 18h para retirar o prêmio. Caso não o façam, decairá seu direito de receber o prêmio, não cabendo a eles qualquer direito de indenização ou ressarcimento.
    <br>5.10. A utilização dos prêmios está sujeita as regras próprias dos locais/sites/prestadores de serviço e fornecedores nominados acima, devendo o vencedor e seus familiares obedecerem às normativas, restrições e especificações impostas em cada uma das situações.</p>

    <h2 class="h4 t-page-color">6. DAS CONSIDERAÇÕES GERAIS</h2>
    <p>6.1 A simples participação no presente concurso cultural implicará no total e integral reconhecimento das condições e aceitação irrestrita de todos os itens deste regulamento, bem como, presumir-se-á a condição de que o participante ganhador não possui qualquer impedimento fiscal, legal ou outro que o impeça de receber e/ou usufruir o prêmio ganho.
    <br>6.2 O concurso poderá ser divulgada pela Internet, pela televisão, rádio ou qualquer outro meio, a critério da empresa promotora. 
    <br>6.3 A Revista Where Curitiba não se responsabilizará pela autenticidade dos dados cadastrais fornecidos pelos participantes.
    <br>6.4 As questões não previstas neste regulamento ou quaisquer dúvidas que possam surgir poderão ser enviados para o e-mail <a href="mailto:contato@wherecuritiba.com.br" class="t-page-color">contato@wherecuritiba.com.br</a>, e, serão julgadas por uma comissão composta por 03 (três) representantes da Revista Where Curitiba, cujas decisões são soberanas e irrecorríveis.
    <br>6.5 O regulamento completo estará disponível no site www.wherecuritiba.com.br/15anos, podendo ser substituído ou alterado a critério exclusivo da produção desde que antes do seu início.
    <br>6.6 Todos os participantes deste concurso cultural, selecionados ou não, reconhecem e aceitam irrestritamente os termos e condições do regulamento, cedendo o uso de seus nomes, imagens e vozes em qualquer tipo de mídia, peças promocionais e campanhas on-line relativas ao concurso cultural, sem qualquer ônus adicional para a Revista Where Curitiba.
    <br>6.7 A Revista Where Curitiba se reserva no direito de cancelar ou interromper este concurso cultural a qualquer tempo caso ocorram fatos que comprometam sua integridade, bem como por força de ordem judicial.
    <br>6.8 A Revista Where Curitiba não se responsabiliza pelo pagamento de custos adicionais referentes a utilização dos prêmios. 
    <br>6.9 Ao participar deste concurso, os concorrentes ao prêmio concedem autorização para utilização de suas imagens, a título gratuito, por tempo indeterminado, abrangendo o uso de áudio, vídeo e fotografia pelos promovente, em todo território nacional e no exterior, nas seguintes formas: outdoor; busdoor; folhetos em geral (encartes, mala direta, catálogo, etc.); folder de apresentação; anúncios em revistas e jornais em geral; home page; cartazes; back-light; mídia eletrônica (painéis, vídeo-tapes, televisão, cinema, programa para rádio, como site, folders, mídias sociais (Facebook, Instagram, Twitter), materiais institucionais, jornais e revistas. Independente da utilização que se dê às imagens, vídeos e áudios, o concorrente assume que está ciente sobre a impossibilidade de receber direta ou indiretamente qualquer remuneração ou participação econômica pela divulgação da sua imagem na forma acima indicada.
    <br>6.10 Este concurso cultural, realizado sob a modalidade de escolha de melhor foto, tem caráter exclusivamente recreativo e cultural, não se sujeitando a quaisquer pagamentos pelos participantes, nem vinculação destes ou dos contemplados à aquisição ou uso de qualquer bem, direito ou serviço.
    <br>6.11 Aplica-se a este concurso, incluindo, mas sem se limitar à, sua divulgação, condução, às participações e às premiações, a legislação brasileira e fica eleito o foro central da capital do Estado do Paraná para dirimir quaisquer controvérsias oriundas desta.</p>

    <strong>Revista Where Curitiba</strong>
  </section>
</main>