<header class="c-header">
  <div class="c-header__bar">
    <div class="c-header__brand">
      <button on='tap:sidebar.open' class="c-header__menu fa fa-bars fa-2x" title="Menu"></button>

      <a href="/" class="c-header__center__logo" title="Massa News">
        <amp-img src="//cdn.massanews.com/static/images/logos/massa-news.png" alt="Massa News" height="44" width="180"></amp-img>
      </a>
    </div>
  </div>
</header>