<amp-sidebar id='sidebar' layout="nodisplay" side="left">
  <button on='tap:sidebar.close' class="fechar-sidebar" title="Fechar"><i class="fa fa-close fa-2x"></i></button>

  <ul>
    <li class="destaque noticias"><a href="//massanews.com/noticias" title="Notícias">Notícias</a></li>
    <li class="destaque esportes"><a href="//massanews.com/esportes" title="Esportes">Esportes</a></li>
    <li class="destaque entretenimento"><a href="//massanews.com/entretenimento" title="Entretenimento">Entretenimento</a></li>
    <li class="destaque where-curitiba"><a href="//massanews.com/where-curitiba" title="Where Curitiba">Where Curitiba</a></li>
    <li class="destaque negocios-da-terra"><a href="//massanews.com/negocios-da-terra" title="Negócios da Terra">Negócios da Terra</a></li>
    <li class="destaque viajar-e-massa"><a href="//massanews.com/viajar-e-massa" title="Viajar é Massa">Viajar é Massa</a></li>
    <li class="destaque blogs"><a href="//massanews.com/blogs" title="Blogs e Opinião">Blogs e Opinião</a></li>
    <li class="destaque videos"><a href="//massanews.com/videos" title="Vídeos">Vídeos</a></li>
    <li><a href="//massanews.com/fotos" title="Fotos">Fotos</a></li>
    @* <li><a href="//massanews.com/tags/enquetes" title="Enquetes">Enquetes</a></li> *@
    <li><a href="//massanews.com/institucional/sobre" title="Sobre nós">Sobre nós</a></li>
    <li><a href="//massanews.com/institucional/fale-conosco" title="Fale conosco">Fale conosco</a></li>
    <li><a href="//massanews.com/institucional/envie-sua-noticia" title="Envie sua notícia">Envie sua notícia</a></li>
  </ul>
</amp-sidebar>