/* =============VARIABLES============= */


/* =============MIXINS============= */


/* =============SELECTORS============= */

.c-nav-dropdown__title {
  cursor:pointer;

  .c-nav-dropdown__icon {
    margin-left:0.3em;
  }
}

.c-nav-dropdown{
  display:none;
  @include clearfix();
  position:fixed;
  left:0;
  top:$top-height;
  z-index:$zindex-nav-dropdown;
  width:100%;
  background:#fff;
  box-shadow:0 0 8px rgba(4,5,5,.4);
  text-align: center;
  padding: 20px $fixed-sidebar-width - 20px 10px;

  .line-logo{
    margin: 20px 0 10px 0;
    display: block;
    float: left;
  }

  .logo{
    width: 100%;
    float: left;

    img{
      width: 160px;
    }
  }

  .c-nav-dropdown__col{
    width: 20%;
    padding: 0 10px;
    margin: 0;
    border: 0;
    float: left;
    //border-left: 1px solid #bcbcbc;
    @include font-size(20px);

    li{
      width: 100%;
      padding: 0 20px;
      float: left;
    }

    .back{
      width: 100%;
      float: left;

      & > a{
        padding: 5px 40px 5px 18px;
        margin-top: 15px;
        @include font-size(16px);
        display: inline-block;
        color: $gray;
        background-color: $gray-lightest;
        position: relative;
        text-decoration: none;

        &:hover{
          color: $gray-dark;
          background-color: darken($gray-lightest, 5%);

          &:before{
            border-right-color: darken($gray-lightest, 5%);
          }
        }

        &:last-child{
          padding: 5px 18px;

          &:after{
            display: none;
          }
        }

        &:before,
        &:after{
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 0;
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          position: absolute;
          top: 0;
        }

        &:before{
          border-right: 14px solid $gray-lightest;
          left: -14px;
        }

        &:after{
          border-right: 14px solid #fff;
          right: 0;
        }
      }
    }

    /*&:nth-child(1) {
      padding-left: 0;
      border-left: 0;
    }

    &:nth-last-child(1) {
      padding-right: 0;
      border-right: 0;
    }*/
  }

  .div{
    width: 100%;
    margin: 10px 0;
    float: left;
    display: none;

    &.div-3{
      //display: block;
    }
  }
}

.c-nav-dropdown__col-title {
  margin-bottom: 10px;
  font-weight:bold;
  @include font-size(16px);
  text-transform:uppercase;
  display: inline-block;

  .fa-icon{
    display: none;
  }
}

.c-nav-dropdown__list {
  @include font-size(14px);
  color:#000;

  li {
    margin-bottom: 10px;
  }

  a {
    color:#000;
  }

  .highlight {
    font-weight:bold;
  }
}

/* =============MEDIA QUERY============= */
@media all and (max-width:bp(16)) {
  .c-nav-dropdown{
    padding: 20px;
  }
}

@media all and (min-width: bp(6)) and (max-width: bp(11)) {
  .c-nav-dropdown{
    .c-nav-dropdown__col {
      width: 33.33%;

      /*&:nth-child(4) {
        padding-left: 0;
        border-left: 0;
      }*/
    }

    .div{
      &.div-3{
        display: block;
      }
    }
  }
}

@media all and (min-width: bp(4)) and (max-width: bp(6)) {
  .c-nav-dropdown{
    .c-nav-dropdown__col {
      width: 50%;

      /*&:nth-child(3),
      &:nth-child(5) {
        padding-left: 0;
        border-left: 0;
      }*/
    }

    .div{
      &.div-2,
      &.div-4{
        display: block;
      }

      &.div-3{
        display: none;
      }
    }
  }
}

@media all and (max-width:bp(4)) {
  .c-nav-dropdown{
    .c-nav-dropdown__col {
      width: 100%;
      margin-bottom: 0;
      padding: 0;
      border: 0;
      text-align: left;

      &.active{
        .c-nav-dropdown__list{
          display: block;
        }
      }

      li{
        padding-left: 0;
      }

      .c-nav-dropdown__col-title{
        width: 100%;
        position: relative;

        &:hover{
          text-decoration: none!important;
        }

        .fa-icon{
          right:$gutter;
          top:50%;
          margin: -7px 0 0 10px;
          position: absolute;
          right: 10px;
          display: block;
        }
      }

      .c-nav-dropdown__list{
        display: none;
      }    
    }

    .div{
      display: none;

      &.div-3{
        display: none;
      }
    }
  }
}

/* =============CUSTOM============= */
