.where-15-anos{
  .banner{
    width: 100%;
    min-height: 360px;
    //background: #FE8D00;
    background: url(../images/where/where-15-anos/bg.jpg) no-repeat;

    .logo{
      width: 30%;
      padding: 45px 0;
      float: left;
    }

    .text{
      width: 60%;
      padding: 60px 0;
      color: #fff;
      float: right;

      p{
        @include font-size(14px);
        margin: 0 0 1em;
      }

      h3{
        color: #fff;
        @include font-size(20px);
      }

      h2{
        color: #fff;
      }
    }
  }

  .bar-links{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    li{
      padding: 0 30px;
      display: inline-block;

      &.active{
        font-weight: bold;
      }

      .fa{
        margin-right: 5px;
      }
    }
  }

  .bar-filters{
    padding: 10px;
    // margin: 20px 0 30px;
    @include font-size(14px);
    background: $gray-lightest;
  }

  .lista-premios{
    margin-bottom: 40px;

    li{
      list-style: decimal inside;
    }
  }

  // .agrupa-galeria{
  //   position: relative;
  //   //padding: 0 35px;

  //   // &.agrupa-galeria-1{
  //   //   padding: 0;

  //   //   .arrow-prev,
  //   //   .arrow-next{
  //   //     display: none;
  //   //   }
  //   // }

  //   .arrow-prev,
  //   .arrow-next{
  //     top: calc(50% - 40px);
  //     font-size: 20px;
  //     position: absolute;
  //   }

  //   .arrow-prev{
  //     left: 0;
  //   }

  //   .arrow-next{
  //     right: 0;
  //   }
  // }

  @media all and (max-width: bp(8)) {
    .banner{
      .logo{
        width: 35%;
      }

      .text{}
    }

    .bar-links{
      li{
        padding: 0 15px;
      }
    }
  }

  @media all and (max-width: bp(8)) {
    .bar-links{
      li{
        @include font-size(14px);
        padding: 0 10px;
      }
    }
  }

  @media all and (max-width: bp(6)) {
    .banner{
      .logo{
        width: 100%;
        padding: 5% 15%;
      }

      .text{
        width: 100%;
        padding: 30px 0;
        text-align: center;
      }
    }

    .bar-links{
      li{
        //width: 100%;
        padding: 0 5px;
        @include font-size(12px);

        .fa{
          display: none;
        }
      }
    }
  }

  @media all and (max-width: bp(5)) {
    .banner{
      .logo{
        padding: 5%;
      }

      .text{
      }
    }
  }


  // FORM
  .form-where-15-anos{
    max-width: 500px;
    padding: 20px 15px;
    margin: 0 auto 20px;
    background: $gray-lightest;
  }

  .load-more{
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }

  @media all and (max-width: bp(5)) {
    .load-more{
      a{
        .label{
          display: none;
        }
      }
    }
  }

  // JURADOS
  &.jurados{
    .lista-jurados{
      li{
        width: 33%;
        padding: 0 20px;
        float: left;
        text-align: center;

        img{
          margin-bottom: 15px;
        }

        & > p{
          @include font-size(16px);
        }
      }
    }

    @media all and (max-width: bp(8)) {
      .lista-jurados{
        li{
          width: 100%;
          padding: 0;
          text-align: left;

          img{
            max-width: 40%;
            margin: 0 20px 20px 0;
            float: left;
          }
        }
      }
    }
  }
}


/* Theme for nanoGALLERY - www.nanogallery.brisbois.fr */

/**************************************/
/* MAIN CONTAINER                     */
/**************************************/

.nanogallery_theme_default {
  font-size: 1.0em;
  line-height: normal;
  padding: 0px;
  margin: 0 auto;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  overflow: hidden;
  visibility: visible;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}


/**************************************/
/* ICON FONT V3                       */
/* generated by : http://fontello.com */
/* FONT AWESOME                       */
/**************************************/

@font-face {
  font-family: 'nano_icon_font3';
  src: url('../fonts/nano/nano_icon_font3.eot?8875162');
  src: url('../fonts/nano/nano_icon_font3.eot?8875162#iefix') format('embedded-opentype'),
       url('../fonts/nano/nano_icon_font3.woff?8875162') format('woff'),
       url('../fonts/nano/nano_icon_font3.ttf?8875162') format('truetype'),
       url('../fonts/nano/nano_icon_font3.svg?8875162#nano_icon_font3') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
.icon-star:before { content: '\e800'; }
.icon-star-empty:before { content: '\e801'; }
.icon-videocam:before { content: '\e802'; }
.icon-picture:before { content: '\e803'; }
.icon-video:before { content: '\e804'; }
.icon-camera:before { content: '\e805'; }
.icon-camera-alt:before { content: '\e806'; }
.icon-th-large:before { content: '\e807'; }
.icon-th-list:before { content: '\e808'; }
.icon-ok:before { content: '\e809'; }
.icon-cancel:before { content: '\e80a'; }
.icon-help:before { content: '\e80b'; }
.icon-home:before { content: '\e80c'; }
.icon-link-ext:before { content: '\e80d'; }
.icon-attach:before { content: '\e80e'; }
.icon-eye:before { content: '\e80f'; }
.icon-eye-off:before { content: '\e810'; }
.icon-download:before { content: '\e811'; }
.icon-pencil:before { content: '\e812'; }
.icon-chat:before { content: '\e813'; }
.icon-attention:before { content: '\e814'; }
.icon-folder-empty:before { content: '\e815'; }
.icon-folder-open-empty:before { content: '\e816'; }
.icon-menu:before { content: '\e817'; }
.icon-cog:before { content: '\e818'; }
.icon-cog-alt:before { content: '\e819'; }
.icon-play:before { content: '\e81a'; }
.icon-left-open:before { content: '\e81b'; }
.icon-right-open:before { content: '\e81c'; }
.icon-pause:before { content: '\e81d'; }
.icon-ellipsis-vert:before { content: '\e81e'; }
.icon-right-big:before { content: '\e81f'; }
.icon-arrows-cw:before { content: '\e820'; }
.icon-search:before { content: '\e821'; }
.icon-th:before { content: '\e822'; }
.icon-left-big:before { content: '\e823'; }
.icon-tags:before { content: '\e824'; }
.icon-zoom-in:before { content: '\e825'; }
.icon-zoom-out:before { content: '\e826'; }
.icon-resize-full:before { content: '\e827'; }
.icon-resize-small:before { content: '\e828'; }
.icon-shuffle:before { content: '\e829'; }
.icon-help-circled:before { content: '\e82a'; }
.icon-info-circled:before { content: '\e82b'; }
.icon-info:before { content: '\e82c'; }
.icon-link:before { content: '\e82d'; }
.icon-location:before { content: '\e82e'; }
.icon-mail:before { content: '\e82f'; }
.icon-trash:before { content: '\e830'; }
.icon-block:before { content: '\e831'; }
.icon-resize-full-alt:before { content: '\e832'; }
.icon-logout:before { content: '\e833'; }
.icon-login:before { content: '\e834'; }
.icon-ticket:before { content: '\e835'; }
.icon-credit-card:before { content: '\e836'; }
.icon-rocket:before { content: '\e837'; }
.icon-beaker:before { content: '\e838'; }
.icon-magic:before { content: '\e839'; }
.icon-exchange:before { content: '\e83a'; }
.icon-wrench:before { content: '\e83b'; }
.icon-pin:before { content: '\e83c'; }
.icon-flag:before { content: '\e83d'; }
.icon-tag:before { content: '\e83e'; }
.icon-bookmark:before { content: '\e83f'; }
.icon-bookmark-empty:before { content: '\e840'; }
.icon-upload:before { content: '\e841'; }
.icon-align-left:before { content: '\e842'; }
.icon-align-right:before { content: '\e843'; }
.icon-align-justify:before { content: '\e844'; }
.icon-export:before { content: '\e845'; }
.icon-edit:before { content: '\e846'; }
.icon-flag-empty:before { content: '\e847'; }
.icon-cw:before { content: '\e848'; }
.icon-ccw:before { content: '\e849'; }
.icon-ellipsis:before { content: '\e84a'; }
.icon-resize-vertical:before { content: '\e84b'; }
.icon-resize-horizontal:before { content: '\e84c'; }
.icon-move:before { content: '\e84d'; }
.icon-lightbulb:before { content: '\e84e'; }
.icon-filter:before { content: '\e84f'; }
 */


/**************************************/
/* TOOLBAR                            */
/**************************************/

.nanogallery_theme_default .nanoGalleryNavigationbarContainer {
  margin:5px auto;
  padding:5px 0;
  /*background-color:#f09;*/
  display: block;
}

.nanogallery_theme_default .nanoGalleryNavigationbar {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 0px;
  text-align: left;
  display:table;
  width:100%;
}

.nanogallery_theme_default .nanoGalleryTags {
  margin: 10px 0 1px 1px ;
  padding: 4px;
  display: table-cell;
  cursor:pointer;
  vertical-align: middle;
}
.nanogallery_theme_default .nanoGalleryTags:after {
  content: '\e824'; /* .icon-tags */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.nanogallery_theme_default .setFullPageButton {
  margin: 10px 0 1px 1px ;
  padding: 4px;
  display: table-cell;
  cursor:pointer;
  vertical-align: middle;
}
.nanogallery_theme_default .setFullPageButton:after {
  content: '\e827'; /* .icon-resize-full */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.nanogallery_theme_default .removeFullPageButton {
  margin: 10px 0 1px 1px ;
  padding: 4px;
  display: table-cell;
  cursor:pointer;
  vertical-align: middle;
}
.nanogallery_theme_default .removeFullPageButton:after {
  content: '\e828'; /* .icon-resize-small */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.nanogallery_theme_default.fullpage{
  display:block;
  background-color: #000;
  position: fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  clear:both;
  overflow-y:scroll;
  overflow-x:hidden;
  padding: 0px 20px 10px 20px;
}


/**************************************/
/* NAVIGATION BREADCRUMB              */
/**************************************/
.nanogallery_theme_default .nanoGalleryBreadcrumb {
  /*background-color: #000;*/
  /*border: 1px dotted #555;*/
  margin: 1px;
  padding: 4px;
  text-align: left;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  display: table-cell;
  width: 100%;
  overflow:hidden;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder,
.nanogallery_theme_default .nanoGalleryBreadcrumb .folderHome {
  margin: 0px 5px;
  white-space: nowrap;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .folder:hover,
.nanogallery_theme_default .nanoGalleryBreadcrumb .folderHome:hover{
  color: #fff;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb  .folder:before{
  content: '\e815'; /* .icon-folder-empty */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb  .folderHome:before{
  content: '\e80c'; /* .icon-home */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator {
  margin: 0px 5px;
  display: inline;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator:hover{
  color: #fff;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separator:before {
  content: '\e823'; /* .icon-left-big */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separatorRTL {
  margin: 0px 5px;
  display: inline;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separatorRTL:hover{
  color: #fff;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .separatorRTL:before {
  content: '\e81f'; /* .icon-right-big */
  margin-left: .2em;
  margin-right: .3em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}


.nanogallery_theme_default .nanoGalleryBreadcrumb .loading{
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryBreadcrumb .loading:after{
  content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
  background:url('../images/where/where-15-anos/loading.gif') no-repeat center;
}


/**************************************/
/* THUMBNAILS                         */
/**************************************/

.nanogallery_theme_default .nanoGalleryContainerParent {
  position: relative;
  text-align: center;
  margin:0px auto;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default .nanoGalleryContainer {
  text-align: left;
  position:relative;
  width:auto;
  display: inline-block;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  overflow:hidden;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer{
  /* no margin allowed here */
  cursor: pointer;
  //border: 1px solid #000;
  /*margin: 1px;*/
  padding: 0px; /* 5 */
  //background-color: #000;
  display: inline-block;
  position: absolute;   /*relative;*/
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  overflow:hidden;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer input{
  opacity: 0;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer:hover input{
  opacity: 0.8;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .selected{
  opacity: 0.5;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .selected + input{
  opacity: 1;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .subcontainer{
  /* no border or padding allowed here */
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  border: 0px solid #000;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .imgContainer{
  position:relative;
  //margin: 5px;
  /*padding:5px;*/
  overflow:hidden;
  background:#000;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer img{
  /* no border or padding allowed here */
  /* background:url('loading.gif') no-repeat center; */
  background:url('data:image/gif;base64,R0lGODlhEAAQAIAAAP///////yH5BAEKAAEALAAAAAAQABAAAAIOjI+py+0Po5y02ouzPgUAOw==') no-repeat center;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  display: block;
  vertical-align: bottom;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImage{
  /* no padding allowed here */
  background:rgba(34, 34, 34, 0.75); /*#222;*/
  opacity: 1;
  text-align:left;
  //margin: 5px;
  /*padding: 5px;*/
  left: 0px;
  position:absolute;
  min-height:0%;
  overflow:hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelImageTitle{
  color:#eee;
  margin: 0px 2px;
  left: 0px;
  overflow:hidden;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

// .nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelImageTitle:before{
//   content: '\e803'; /* .icon-picture */
//   margin-left: .2em;
//   margin-right: .2em;
//   //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
//   font-family: "nano_icon_font3";
//   font-style: normal;
//   font-weight: normal;
//   speak: none;
//   display: inline-block;
//   text-decoration: inherit;
//   width: 1em;
//   text-align: center;
//   font-variant: normal;
//   text-transform: none;
//   box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -o-box-sizing: border-box;
// }

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelFolderTitle{
  color:#eee;
  margin: 0px 2px;
  left: 0px;
  overflow:hidden;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  vertical-align: middle;
  display: inline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelFolderTitle > span ,
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelDescription > span {
  color:rgba(34, 34, 34, 0.75);
  background-color:#eee;
  border: 0px solid #eee;
  border-radius: 2px;
  padding:0px 4px;
  Text-Shadow: none;
  vertical-align: middle;
  display: inline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelFolderTitle:before{
  content: '\e815'; /* .icon-folder-empty */
  margin-left: .2em;
  margin-right: .2em;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer  .labelDescription{
  clear:both;
  margin: 0px 2px;
  color:#aaa;
  left: 0px;
  font-size:0.8em;
  margin:1px 2px;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/**************************************/
/* THUMBNAIL PAGINATION               */
/**************************************/

.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPagination,
.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPaginationDot {
  /*color:#eee;*/
  margin: 10px auto 5px auto;
  padding: 4px;
  text-align:center;
  position: relative;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  overflow:hidden;
  white-space: nowrap;
}

.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPagination .paginationItem{
  margin: 0px 5px;
  white-space: nowrap;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPagination .currentPage{
  text-decoration:underline;
}
.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPagination .paginationPrev{
  margin: 0px 5px;
  white-space: nowrap;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}
.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPagination .paginationNext{
  margin: 0px 5px;
  white-space: nowrap;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
}

.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPaginationDot .paginationItem{
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background: #444;
  border-radius: 50%;
  margin: 0px 5px;
  white-space: nowrap;
  cursor:pointer;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.50;
}
.nanogallery_theme_default .nanoGalleryContainerParent .nanoGalleryPaginationDot .currentPage{
  background: #fff;
  opacity: 1;
}


/**************************************/
/* INTERNAL VIEWER                    */
/**************************************/
.nanogallery_theme_default #nanoGalleryViewer {
  display:block;
  /*font-size:1em;*/
  background-color: rgba(1, 1, 1, 0.75);
  text-align: center;
  position: fixed;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  clear:both;
}
.nanogallery_theme_default #nanoGalleryViewer .nanoLogo {
  text-align: center;
  float: left;
  position: relative;
  top: 50px;
  background: url(nano_logo.png) #000 no-repeat center;  
  display: block;
  height: 30px;
  width: 120px;
}

.nanogallery_theme_default #nanoGalleryViewer .closeButtonFloating {
  cursor: pointer;
  right: 0px;
  top: 0px;
  padding: 5px 5px 25px 25px;
  position:absolute;
  opacity:1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.nanogallery_theme_default #nanoGalleryViewer .closeButtonFloating:after {
  color: #ddd; 
  background: rgba(0,0,0,0.2);
  padding: 5px 0 5px 5px;

  content: '\e80a'; /* .icon-cancel */
  font-size:1.5em;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none; 
}
.nanogallery_theme_default #nanoGalleryViewer  .closeButtonFloating:hover {
  opacity: 0.3;
}

.nanogallery_theme_default #nanoGalleryViewer .content {
  /*display:block;*/
  /*position:relative;*/
  position:absolute;
  /*height:100%;*/
  clear:both;
  padding:5px;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.nanogallery_theme_default #nanoGalleryViewer .content img{
  /* never define a margin here */
  background:url('../images/where/where-15-anos/loading.gif') no-repeat center;
  border:4px solid #f8f8f8;
  /*display:block;*/
  padding:0px;
  min-width:30px;
  min-height:30px;
  box-shadow: #888 0px 0px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.nanogallery_theme_default #nanoGalleryViewer .content .imgCurrent{
  cursor:pointer;
}

.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaPrevious {
  color: #ddd; 
  display:block;
  position:absolute;
  top: 50%;
  /*height:20px;*/
  /*width:20px;*/
  padding:50px 25px 50px 0px;
  margin-top:-65px;
  left:0px;
  text-align: left;
  cursor:pointer;
  opacity:1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaPrevious:after{
  content: '\e81b'; /* .icon-left-open */
  background: rgba(0,0,0,0.2);
  padding: 5px 0;
}

.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaNext {
  color: #ddd; 
  display:block;
  position:absolute;
  top: 50%;
  /*height:20px;*/
  /*width:20px;*/
  padding:50px 0px 50px 25px;
  margin-top:-65px;
  right:0px;
  text-align: right;
  cursor:pointer;
  opacity:1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaNext:after{
  content: '\e81c'; /* .icon-right-open */
  background: rgba(0,0,0,0.2);
  padding: 5px 0;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbarContainer {
  bottom:0px!important;
  left:0px;
  right:0px;
  text-align: center;
  display:inline-block;
  position:fixed;
  z-index: 10101;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar {
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  background:rgba(4,4,4,0.7);
  color:#eee;
  margin: 1px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .ngbt {
  display: table-cell;
  cursor:pointer;
  padding:5px;
  vertical-align:middle;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaPrevious:after,
.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaNext:after {
  font-size:1.5em;
  margin-left: .2em;
  margin-right: .2em;
  //Text-Shadow: #000000 1px 0px 0px, #000000 1px 1px 0px, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .ngbt:after {
  font-size:1.5em;
  margin-left: .2em;
  margin-right: .2em;
  font-family: "nano_icon_font3";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaPrevious:hover,
.nanogallery_theme_default #nanoGalleryViewer .content .contentAreaNext:hover,
.nanogallery_theme_default #nanoGalleryViewer .toolbar .ngbt:hover:after {
  opacity: 0.3;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .previousButton:after{
  content: '\e81b'; /* .icon-left-open */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .nextButton:after{
  content: '\e81c'; /* .icon-right-open */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .closeButton:after{
  content: '\e80a'; /* .icon-cancel */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .playButton:after{
  content: '\e81a'; /* .icon-play */
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .pauseButton:after{
  content: '\e81d'; /* .icon-pause */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .setFullscreenButton:after{
  content: '\e827'; /* icon-resize-full */
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .removeFullscreenButton:after{
  content: '\e828'; /* icon-resize-small */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .infoButton:after{
  content: '\e82c'; /* icon-info */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .linkOriginalButton:after{
  content: '\e80d'; /* icon-link-ext */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .viewToolbarButton:after{
  content: '\e817'; /* icon-menu */
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .hideToolbarButton:after{
  content: '\e81e'; /* icon-ellipsis-vert */
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .pageCounter{
  display: table-cell;
  font-size:1em;
  margin:auto;
  vertical-align:middle;
  overflow: hidden;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .label{
  padding:3px 10px;
  border-left: 0px solid #000;
  overflow: hidden;
  //display: table-cell;
  text-align: center;
  vertical-align:middle;
  font-size:1em;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  background-color:initial;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .vote{
  padding: 20px 0 15px 0;
  z-index: 10200;
  position: relative;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .share{
  padding-left: 20px;
  display: inline-block;
  vertical-align: sub;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .share a{
  margin: 0 3px;
  color: #fff;
  display: inline-block;
}

.nanogallery_theme_default #nanoGalleryViewer .toolbar .label .title{
  font-size:1em;
  margin:auto;
  vertical-align:middle;
  overflow: hidden;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.nanogallery_theme_default #nanoGalleryViewer .toolbar .label .description{
  font-size:.8em;
  //display:table-row;
  vertical-align:middle;
  overflow: hidden;
  color:#aaa;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
}


/**************************************/
/* CONSOLE                            */
/**************************************/

.nanogallery_theme_default .nanoGalleryConsoleParent {
  visibility:hidden;
  height:0px;
  background:#111;
  color:#e00;
  padding:0px;
  margin:2px;
}
.nanogallery_theme_default .nanoGalleryConsoleParent p {
  color:#e00;
  padding:1px;
  margin:0px;
}

/**************************************/
/* AVOID TEXT SELECTION DURING DRAG   */
/**************************************/
.nanogallery_theme_default.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/**************************************/
/* LOADING BAR                        */
/**************************************/
.nanogallery_theme_default .nanoGalleryLBarOff {
  position:relative;
  width:100%;
  visibility: hidden;
  height:2px;
  margin:0 0 1px 0;
  background-color:#555;
}
.nanogallery_theme_default .nanoGalleryLBar {
  position:relative;
  width:100%;
  visibility: visible;
  height:2px;
  margin:0 0 1px 0;
  background-color:#555;
}
.nanogallery_theme_default .nanoGalleryLBar > div {
  position:absolute;
  width:50px;
  height:2px;
  top:0px;
  opacity:.7;   
}
.nanogallery_theme_default .nanoGalleryLBar > div:nth-child(1){
  -webkit-animation: nanoGalleryLBarAnim 2s -.2s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -moz-animation: nanoGalleryLBarAnim 2s -.2s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -ms-animation: nanoGalleryLBarAnim 2s -.2s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -o-animation: nanoGalleryLBarAnim 2s -.2s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  animation: nanoGalleryLBarAnim 2s -.2s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  background: #111;
}
.nanogallery_theme_default .nanoGalleryLBar > div:nth-child(2){
  -webkit-animation: nanoGalleryLBarAnim 2s -.4s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -moz-animation: nanoGalleryLBarAnim 2s -.4s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -ms-animation: nanoGalleryLBarAnim 2s -.4s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -o-animation: nanoGalleryLBarAnim 2s -.4s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  animation: nanoGalleryLBarAnim 2s -.4s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  background: #333;
}
.nanogallery_theme_default .nanoGalleryLBar > div:nth-child(3){
  -webkit-animation: nanoGalleryLBarAnim 2s -.6s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -moz-animation: nanoGalleryLBarAnim 2s -.6s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -ms-animation: nanoGalleryLBarAnim 2s -.6s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -o-animation: nanoGalleryLBarAnim 2s -.6s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  animation: nanoGalleryLBarAnim 2s -.6s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  background: #999;
}
.nanogallery_theme_default .nanoGalleryLBar > div:nth-child(4){
  -webkit-animation: nanoGalleryLBarAnim 2s -.8s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -moz-animation: nanoGalleryLBarAnim 2s -.8s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -ms-animation: nanoGalleryLBarAnim 2s -.8s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -o-animation: nanoGalleryLBarAnim 2s -.8s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  animation: nanoGalleryLBarAnim 2s -.8s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  background: #777; 
}
.nanogallery_theme_default .nanoGalleryLBar > div:nth-child(5){
  -webkit-animation: nanoGalleryLBarAnim 2s -1s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -moz-animation: nanoGalleryLBarAnim 2s -1s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -ms-animation: nanoGalleryLBarAnim 2s -1s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  -o-animation: nanoGalleryLBarAnim 2s -1s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  animation: nanoGalleryLBarAnim 2s -1s infinite  cubic-bezier(0, 0.6, 0.9, 0.0);
  background: #ddd;
}
@-webkit-keyframes nanoGalleryLBarAnim {
  0%  { left:10%; }
  100%{ left:90%; }
}
@-moz-keyframes nanoGalleryLBarAnim {
  0%  { left:10%; }
  100%{ left:90%; }
}
@-ms-keyframes nanoGalleryLBarAnim {
  0%  { left:10%; }
  100%{ left:90%; }
}
@-o-keyframes nanoGalleryLBarAnim {
  0%  { left:10%; }
  100%{ left:90%; }
}
@keyframes nanoGalleryLBarAnim {
  0%  { left:10%; }
  100%{ left:90%; }
}



// MEDIA QUERY
@media all and (max-width: bp(5)) {
  .nanogallery_theme_default #nanoGalleryViewer .toolbar .share{
    padding: 20px 10px 0;
  }
}

@media all and (min-width: bp(10)) {
  .nanogallery_theme_default #nanoGalleryViewer .toolbar .share .share-whatsapp{
    display: none;
  }
}


// /* *************************************** LOADING STYLE *************************************** */
// .grid-loader{
//   width: 43px;
//   height: 30px;
//   padding: 10px 15px 10px 15px;
//   background: url(../img/loader.gif) no-repeat;
//   background-position:center;
//   margin: 20px auto;
// }

// .grid-loadMore{
//   cursor: pointer;
//   margin: 30px auto;
//   width: 150px;
//   height: 20px;
//   text-align: center;
//   color: white;
//   background-color: black;
//   background: rgba(0,0,0,.6);
//   border-radius: 2px;
//   padding: 10px 15px 10px 15px;
// }

// .grid-loadMore:hover{
//   text-decoration: none;
//   color: white;
//   background: rgba(0,0,0,.8);
// }

// /* *************************************** CATEGORY NAVIGATION BAR *************************************** */

// .category-navbar{
//   font-size: 0px;
//   list-style: none;
//   margin: 0 0 10px 0;
//   padding: 7px 0 2px 0px;
//   width: 100%;
//   border-bottom: 1px solid #ddd;
//   background: white;
// }

// .category-navbar li:first-child{
//   margin: 0 0 0 7px;
// }

// .category-navbar li{
//   display: inline-block;
//   line-height: 16px;
//   margin: 0 0 0 0px;
//   padding: 5px 0 5px 0;
// }

// .category-navbar li a{
//   cursor: pointer;
//   color: #999;
//   font-size: 14px;
//   text-decoration: none;
//   margin: 0 10px 10px 0;
//   padding: 6px 10px;
//   border-radius: 1px;
//   moz-border-radius: 1px;
//   -webkit-border-radius: 1px;
// }

// .category-navbar li a:hover{
//   text-decoration: none;
//   background: #eee;
//   color: #222;
// }

// .category-navbar li.select a{
//   background: #666;
//   color: #fff;
// }

// /* *************************************** CAPTION STYLE *************************************** */
// .box{
//   cursor: pointer;
//   overflow: hidden;
// }

// .lightbox-text{
//   display: none;
// }

// .image-caption{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: #313131;
//   background: rgba(0,0,0,.8);
//   color: #fff;

//   display: none;

// }

// /* The style for centering the caption (vertically and horizontally) */
// .image-caption>div{
//   height: 100%;
//   width: 100%;
//   display: table !important;
// }

// .image-caption>div>div{
//   padding: 15px;
//   display: table-cell !important;
//     vertical-align: middle; /* FOR VERTICAL ALIGN */
//     text-align:center; /* FOR HORIZONTAL ALIGN */
// }

// /* *************************************** LIGHT-BOX STYLE *************************************** */
// .lightbox-timer{
//   height: 1px;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   background: white;
// }

// .lb-loader{
//   width: 43px;
//   height: 11px;
//   background: url(../img/loader.gif);
  
//   margin: 20px auto;
// }

// .autoGrid-lightbox{
//   display: none;
//   position: fixed;
//   top:0;
//   width: 100%;
//   height: 100%;
//   background: #313131; 
//   background: rgba(0,0,0,.85);
//   z-index: 99999999;
//   text-align: center;
// }

// .autoGrid-lightbox img{
//   margin-top: 5px;
// }

// .autoGrid-nav{
//   margin-top: -57px;
//   height: 57px;
//   width: 100%;
//   background: #383838;
//   background: #1D1D1D;

//   border-bottom: 1px solid #323232;
// }

// .autoGrid-play, .autoGrid-close, .autoGrid-next, .autoGrid-prev, .autoGrid-font{
//   width: 88px;
//   height: 57px;
//   position: relative;
//   cursor: pointer;
// }

// .autoGrid-play:hover, .autoGrid-close:hover, .autoGrid-next:hover, .autoGrid-prev:hover, .autoGrid-font:hover{
//   background: black; 
// }

// .selected{
//   background: black;
// }

// .selected .iconPlay{
//   background-position: -164px -3px;
// }

// .autoGrid-lbcaption{
//   float: left;
//   color: white;
//   height: 57px;
//   font-size: 16px;
// }

// .autoGrid-lbcaption span{
//   margin-left: 3px;
//   color: #D7D7D7;
//   font-size: 11px;
// }

// .autoGrid-lbcaption>div{
//   height: 100%;
//   width: 100%;
//   display: table !important;
// }

// .autoGrid-lbcaption>div>div{
//   padding: 0 15px 0 15px;
//   display: table-cell !important;
//     vertical-align: middle; /* FOR VERTICAL ALIGN */
//     text-align:center; /* FOR HORIZONTAL ALIGN */
// }

// .autoGrid-play, .autoGrid-close{
//   float: right;
// }

// .autoGrid-next, .autoGrid-prev{
//   float: right;
// }

// .iconPlay, .iconClose, .iconNext, .iconPrev, .iconFont{
//   position: absolute;

//   top: 50%;
//   left: 50%;

//   height: 25px;
//   display: block;
// } 

// .iconClose{
//   width: 25px;
//   margin: -13px 0 0 -13px;

//   background: url(../img/icons.png);
//   background-position: -2px -3px;
// }

// .iconPlay{
//   width: 17px;
//   margin: -13px 0 0 -8px;
//   background: url(../img/icons.png);

//   background-position: -137px -3px;

//   -webkit-transition:all .3s;
//      -moz-transition:all .3s;
//        -o-transition:all .3s;
//       -ms-transition:all .3s;
//           transition:all .3s;
// }

// .iconFont{
//   width: 46px;
//   margin: -13px 0 0 -23px;

//   background: url(../img/icons.png);
//   background-position: -85px -3px;
// }

// .iconNext, .iconPrev{
//   width: 15px;
//   margin: -13px 0 0 -8px;
//   background: url(../img/icons.png);
// }

//   .iconPrev{
//     background-position: -40px -3px;
//   }

//   .iconNext{
//     background-position: -70px -3px;
//   }


// /* *************************************** GRID STYLE *************************************** */

// .centered { 
//     margin: auto; 
// }

// .box {
//   /*margin: 2px; 
//   padding: 5px;*/
//   /*font-size: 11px;*/
//   line-height: 1.4em;
//   float: left;
//   -webkit-border-radius: 0px;
//      -moz-border-radius: 0px;
//           border-radius: 0px;
// }

// .box img,
// #tumblelog img {
//   display: block;
//   width: 100%;
// }

// .rtl .box {
//   float: right;
//   text-align: right; 
//   direction: rtl;
// }



// .col1 { width: 80px; }
// .col2 { width: 180px; }
// .col3 { width: 280px; }
// .col4 { width: 380px; }
// .col5 { width: 480px; }

// .col1 img { max-width: 80px; }
// .col2 img { max-width: 180px; }
// .col3 img { max-width: 280px; }
// .col4 img { max-width: 380px; }
// .col5 img { max-width: 480px; }

// /**** Gutters ****/

// .has-gutters .box {
//   margin: 5px 0;
// }

// .has-gutters .col1 { width: 90px; }
// .has-gutters .col2 { width: 230px; }
// .has-gutters .col3 { width: 370px; }
// .has-gutters .col4 { width: 550px; }

// /**** Transitions ****/

// .transitions-enabled.masonry,
// .transitions-enabled.masonry .masonry-brick {
//   -webkit-transition-duration: 0.7s;
//      -moz-transition-duration: 0.7s;
//       -ms-transition-duration: 0.7s;
//        -o-transition-duration: 0.7s;
//           transition-duration: 0.7s;
// }

// .transitions-enabled.masonry {
//   -webkit-transition-property: height, width;
//      -moz-transition-property: height, width;
//       -ms-transition-property: height, width;
//        -o-transition-property: height, width;
//           transition-property: height, width;
// }

// .transitions-enabled.masonry  .masonry-brick {
//   -webkit-transition-property: left, right, top;
//      -moz-transition-property: left, right, top;
//       -ms-transition-property: left, right, top;
//        -o-transition-property: left, right, top;
//           transition-property: left, right, top;
// }


// /* disable transitions on container */
// .transitions-enabled.infinite-scroll.masonry {
//   -webkit-transition-property: none;
//      -moz-transition-property: none;
//       -ms-transition-property: none;
//        -o-transition-property: none;
//           transition-property: none;
// }

// /**** Primer comparison ****/

// #comparison {
//   overflow: auto;
// }

// #comparison .example {
//   width: 420px;
//   float: left;
//   margin-right: 20px;
// }

// #comparison .box h5 {
//   float: left;
//   margin-bottom: 0;
//   font-size: 30px;
//   margin-right: 4px;
//   line-height: 28px;
//   font-weight: bold;
//   color: #FFF;
// }

// /* Homepage */

// .homepage .item {
//   width: 200px;
//   float: left;
//   padding: 10px;
//   margin: 10px;
//   background: #D8D5D2;
//   font-weight: 300;
//   -webkit-border-radius: 5px;
//      -moz-border-radius: 5px;
//           border-radius: 5px;
// }

// .homepage .big-text,
// .homepage .link {
//   font-size: 24px;
//   line-height: 1.2em;
// }

// .homepage .link {
//   padding: 0;
// }

// .homepage .link a {
//   display: block;
//   padding: 10px;
//   width: 200px;
//   background: #D26;
//   color: white;
//   -webkit-border-radius: 5px;
//      -moz-border-radius: 5px;
//           border-radius: 5px;
// }

// .homepage .link a:hover {
//   background: #A2C;
// }

// .homepage .col2 {
//   width: 440px;
// }

// .homepage .example {
//   padding: 0;
//   width: 220px;
//   background: transparent;
// }

// .homepage .example a { display: block; }

// .homepage .example img {
//   display: block;
//   width: 100%;
// }

// .homepage .example a:hover { 
//   background: #D26;
//   color: white;
// }

// .homepage .loading {
//   background: black;
//   color: #D8D5D2;
// }

// .homepage .loading img {
//   float: left; 
//   padding-right: 5px;
//   width: 54px;
// }

// /* mini example */

// .homepage .mini div {
//   float: left;
//   background: white;
//   margin: 3px;
//   color: #D8D5D2;
//   font-weight: bold;
//   font-size: 32px;
//   line-height: 46px;
//   text-align: center;
//   -webkit-border-radius: 3px;
//      -moz-border-radius: 3px;
//           border-radius: 3px;
// }

// .homepage .mini .w1 { width: 44px; }
// .homepage .mini .h1 { height: 44px; }
// .homepage .mini .w2 { width: 94px; }
// .homepage .mini .h2 { height: 94px; }

// /* Tumblelog example */

// #tumblelog {
//   background: #FFF;
//   padding: 1.0em;
// }

// #tumblelog .story {
//   margin: 10px;
//   border-top: 4px solid #DCB;
//   padding-top: 10px;
//   background: #FFF;
//   float: left;
// }

// #tumblelog h1, #tumblelog  , #tumblelog h3 { font-weight: bold;}

// #tumblelog .col1 { width: 220px; }
// #tumblelog .col2 { width: 460px; }
// #tumblelog .col3 { width: 700px; }

// #tumblelog .col1 img,
// #tumblelog .col2 img,
// #tumblelog .col3 img {
//   max-width: none;
// }

// /* Infinite Scroll loader */
// #infscr-loading { 
//   text-align: center;
//   z-index: 100;
//   position: fixed;
//   left: 45%;
//   bottom: 40px;
//   width: 200px;
//   padding: 10px;
//   background: #000; 
//   opacity: 0.8;
//   color: #FFF;
//   -webkit-border-radius: 10px;
//      -moz-border-radius: 10px;
//           border-radius: 10px;
// }

// /**** Fluid ****/

// #container.fluid  {
//   padding: 5px 0;
// }

// /* right margin value is 0.1% less than calculated,
//   to allow for rounding errors in Firefox */
// .fluid .box {
//   margin: 5px 0.9% 5px 1%;
//   padding: 5px 1%;
// }

// .fluid .box.col1 { width: 16%; }
// .fluid .box.col2 { width: 36%; }
// .fluid .box.col3 { width: 56%; }

// /**** Corner stamp ****/

// .corner-stamp {
//   width: 280px;
//   height: 340px;
//   padding: 10px;
//   margin: 10px;
//   float: right;
//   background: red;
//   color: white;
//   -webkit-border-radius: 5px;
//      -moz-border-radius: 5px;
//           border-radius: 5px;
// }

// /**** Pygments ****/

// code .s1,
// code .s { color: #78BD55; } /* string */
// code .mi, /* integer */
// code .cp, /* doctype */
// code .kc { color: #5298D4; } /*boolean*/
// code .k { color: #E39B79; } /* keyword */
// code .kd, /* storage */
// code .na { color: #A9D866; } /* markup attribute */
// code .p  { color: #EDB; } /* punctuation */
// code .o  { color: #F63; }   /* operator */
// code .nb { color: #AA97AC;} /* support */

// /* comment */
// code .c,
// code .c1 { color: #666; font-style: italic; }

// code .nt { color: #A0C8FC; } /* Markup open tag */

// code .nf { color: #9EA8B8; } /* css id */
// code .nc { color: #A78352; }  /* CSS class */
// code .m  { color: #DE8E50; } /* CSS value */
// code .nd { color: #9FAD7E; } /* CSS pseudo selector */

// .centered{
//   overflow: auto;
// }