@section bodyClass{@Html.Raw("natal-de-luz pg-natal-de-luz")}

<main class="g-main">
  @Html.Partial("_HeaderNatalDeLuz")

  <section class="g-container t-content">
    <ul class="bar-links bar-menu">
        <li><i class="fa fa-image"></i><a href="/natal-de-luz">FOTOS DE CASAS</a></li>
        <li><i class="fa fa-image"></i><a href="/natal-de-luz/rua">FOTOS DE RUAS</a></li>
      <li class="active"><i class="fa fa-trophy"></i><a href="/natal-de-luz/premiacao">PREMIAÇÃO</a></li>
      @* <li><i class="fa fa-users"></i><a href="/natal-de-luz/jurados">JURADOS</a></li> *@
      <li><i class="fa fa-file-text-o"></i><a href="/natal-de-luz/regulamento">REGULAMENTO</a></li>
    </ul>

    <hr />

    <h3 class="t-page-color">Os seis melhores colocados ganharão:</h3>

    <ul class="lista-premios">
      <li>Certificado de “Casa/Rua mais bem decorada de Curitiba” entregue durante um evento que acontecerá dia 20 de dezembro de 2017.</li>
    </ul>
  </section>
</main>