@section bodyClass{@Html.Raw("natal-de-luz pg-natal-de-luz")}

<main class="g-main">
  @Html.Partial("_HeaderNatalDeLuz")

  <section class="g-container t-content">
    <ul class="bar-links bar-menu">
        <li><i class="fa fa-image"></i><a href="/natal-de-luz">FOTOS DE CASAS</a></li>
        <li><i class="fa fa-image"></i><a href="/natal-de-luz/rua">FOTOS DE RUAS</a></li>
      <li><i class="fa fa-trophy"></i><a href="/natal-de-luz/premiacao">PREMIAÇÃO</a></li>
      @* <li><i class="fa fa-users"></i><a href="/natal-de-luz/jurados">JURADOS</a></li> *@
      <li class="active"><i class="fa fa-file-text-o"></i><a href="/natal-de-luz/regulamento">REGULAMENTO</a></li>
    </ul>
    
    <hr />

    <h1 class="h3 t-page-color">O Concurso Cultural Natal de Luz de Curitiba</h1>
    <br>

    <p>O Concurso Cultural Natal de Luz de Curitiba, acontecerá entre os dias 22 de novembro e 15 de dezembro de 2017.</p>

    <p>Este concurso cultural tem como objetivo reviver a tradição natalina de decoração de casas/ruas em Curitiba.</p>

    <p>Regulamento do Concurso Cultural Natal de Luz de Curitiba, válido de 22 de novembro a 15 de dezembro de 2017.</p>

    <h2 class="h3 t-page-color">Tema: Natal de Luz de Curitiba!</h2>

    <h2 class="h3 t-page-color">Introdução:</h2>
    <p>A inscrição deverá ser feita no site <a href="https://massanews.com/natal-de-luz/" class="t-page-color">massanews.com/natal-de-luz</a>, através de um formulário, bem como a foto da casa/rua decorada deve ser anexada, junto à foto de um comprovante de residência (água, luz, telefone ou fatura de cartão de crédito);</p>
    <p>É obrigatório que o nome cadastrado no formulário de inscrição seja o mesmo impresso na foto do comprovante de residência anexado;</p>
    <p>O concurso cultural tem início dia 22 de novembro de 2017 e se encerra dia 15 de dezembro de 2017.</p>
    <p>As 5 fotos de casas decoradas e 5 fotos de ruas decoradas mais votadas, irão para uma semifinal, onde uma comissão julgadora selecionará as 6 melhores (3 fotos de casas decoradas e 3 fotos de ruas decoradas);</p>
    <p>Cada CPF poderá efetuar um cadastro para o concurso cultural de casa decorada e um cadastro para o concurso cultural de rua decorada;</p>
    <p>Para cadastrar a rua decorada, o CPF preenchido no regulamento precisa ser morador da quadra informada no preenchimento do endereço no formulário de inscrição;</p>
    <p>A foto anexada na inscrição não poderá ser a mesma usada em outro cadastro;</p>
    <p>Ao confirmar a inscrição, a foto do participante já estará disponível para ser votada;</p>
    <p>As 6 fotos ganhadoras (3 de casas decoradas e 3 de ruas decoradas) serão divulgadas às 11h do dia 19 de dezembro de 2017;</p>
    <p>Dia 20 de dezembro de 2017, em um evento, os responsáveis pelas 6 fotos ganhadoras, receberão um certificado de “Casa/Rua mais bem decorada de Curitiba”.</p>

    <h2 class="h3 t-page-color">Regulamento:</h2>
    <p>Este documento estabelece as regras de seleção do concurso cultural Natal de Luz de Curitiba. O objetivo é tornar públicos os critérios de avaliação, a premiação e o uso posterior das imagens selecionadas;</p>
    <p>A participação no concurso sujeita todos os participantes às regras e condições estabelecidas neste regulamento, não sendo necessária a aquisição de qualquer produto, bem, direito ou serviço, nem condicionada ao pagamento de qualquer quantia e/ou valor, pelos participantes;</p>
    <p>Dessa forma, o participante, no ato da sua inscrição, adere a todas as disposições, declarando que LEU, COMPREENDEU E TEM TOTAL CIÊNCIA de todo o teor deste regulamento;</p>
    <p>Para participar do concurso o usuário deverá preencher o formulário de inscrição que está disponível no site <a href="https://massanews.com/natal-de-luz/" class="t-page-color">massanews.com/natal-de-luz</a> e anexar os documentos solicitados;</p>
    <p>O participante do concurso cultural poderá enviar fotos de sua casa e ou rua decorada, desde que se confirme através do envio da foto do comprovante de residência que é morador do local/quadra;</p>
    <p>O conteúdo das fotos é de total responsabilidade do nome preenchido no cadastro. No caso de fotos em que pessoas possam ser identificadas, recomendamos que seja solicitada autorização para a inscrição no concurso cultural;</p>
    <p>O participante se responsabiliza integralmente pela autoria das imagens por ele enviada, estando ciente que sua foto poderá ser publicada tanto na internet quanto em mídias impressas conforme os termos deste regulamento; </p>
    <p>Caberá aos participantes a responsabilidade civil e criminal por eventual prática de plágio ou qualquer outro ato que viole direito autoral ou outro direito de propriedade intelectual de outrem;</p>
    <p>Não serão aceitas fotos que contenham cunho ofensivo, imoral, discriminatório, com teor ilícito ou imagens que sugiram ou estimulem atos que possam colocar em risco a saúde, segurança e a vida;</p>

    <p>Estarão automaticamente desclassificados os participantes que:
    <br>– Preencherem o formulário de inscrição com informações inverídicas;
    <br>– Postarem fotos com conteúdos ofensivos;</p>

    <p>As fotos podem ser produzidas com qualquer tipo de equipamento fotográfico, entretanto, a foto deverá estar nítida, sem borrões;</p>

    <h2 class="h3 t-page-color">Seleção das fotos ganhadoras:</h2>
    <p>As 5 fotos de decoração de casa mais votadas, juntamente com as 5 fotos de decoração de rua mais votadas, serão enviadas a uma comissão avaliadora, que selecionará as 3 melhores fotos de cada categoria.</p>
    <p>Os 6 participantes selecionados pela comissão avaliadora, receberão durante um evento que acontecerá dia 20 de dezembro de 2017, um certificado de “Casa/Rua mais bem decorada de Curitiba”.</p>
    <p>As 6 fotos ganhadoras serão divulgadas em matérias no portal Massa News e também no site da Prefeitura Municipal de Curitiba.</p>

    <h2 class="h3 t-page-color">Informações gerais e exigências:</h2>
    <p>O concurso será divulgado no portal Massa News e qualquer foto participante poderá ser usada para a divulgação do concurso.</p>
    <p>Ao se inscrever, o participante cede o direito de uso das imagens fotográficas, bem como o direito de autor, em caráter gratuito, nos termos dos artigos 49 e seguintes da Lei 9.610/98.</p>

    <strong>Art. 49 da Lei de Direitos Autorais – Lei 9610/98
    <br>LDA – Lei nº 9.610 de 19 de Fevereiro de 1998</strong>
    <p>Altera, atualiza e consolida a legislação sobre direitos autorais e dá outras providências.
    <i>Art. 49. Os direitos de autor poderão ser total ou parcialmente transferidos a terceiros, por ele ou por seus sucessores, a título universal ou singular, pessoalmente ou por meio de representantes com poderes especiais, por meio de licenciamento, concessão, cessão ou por outros meios admitidos em Direito, obedecidas as seguintes limitações:
    <br>I – a transmissão total compreende todos os direitos de autor, salvo os de natureza moral e os expressamente excluídos por lei;
    <br>II – somente se admitirá transmissão total e definitiva dos direitos mediante estipulação contratual escrita;
    <br>III – na hipótese de não haver estipulação contratual escrita, o prazo máximo será de cinco anos;
    <br>IV – a cessão será válida unicamente para o país em que se firmou o contrato, salvo estipulação em contrário;
    <br>V – a cessão só se operará para modalidades de utilização já existentes à data do contrato;
    <br>VI – não havendo especificações quanto à modalidade de utilização, o contrato será interpretado restritivamente, entendendo-se como limitada apenas a uma que seja aquela indispensável ao cumprimento da finalidade do contrato.</i>

    <p>Todos que preencherem a inscrição e cumprirem todas as etapas do regulamento estarão automaticamente, expressando a participação voluntária na campanha;</p>
    <p>A Prefeitura Municipal de Curitiba e o Portal Massa News não se responsabilizam por problemas, falhas ou funcionamento técnico, de qualquer tipo, em redes de computadores, servidores ou provedores, equipamentos de computadores, hardware ou software, ou erro, interrupção, defeito, atraso ou falha em operações ou transmissões para o correto processamento de inscrições.</p>

    <h2 class="h3 t-page-color">Dos critérios de avaliação, classificação e resultado:</h2>
    <p>As fotos serão selecionadas pela comissão avaliadora, seguindo critérios de criatividade, qualidade da imagem e decoração;</p>
    <p>Somente serão consideradas válidas as participações que preencherem todas as condições necessárias, realizadas dentro do prazo e através dos procedimentos previstos neste regulamento;</p>
    <p>Serão selecionadas seis fotos ganhadoras (3 de casas decoradas e 3 de ruas decoradas);</p>
    <p>O resultado dos ganhadores será divulgado também por meio da página do Facebook do Massa News, às 13h do dia 19 de dezembro de 2017;</p>

    <h2 class="h3 t-page-color">Disposições finais:</h2>
    <p>Esta ação não possui fins lucrativos ou comerciais.</p>
    <p>A participação nesta ação não gerará ao participante nenhum outro direito ou vantagem que não esteja expressamente previsto neste regulamento.</p>
    <p>A participação nesta ação implica a aceitação total e irrestrita de todos os itens deste regulamento.</p>
  </section>
</main>