<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using MassaNews.Portal.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- For more information on using MassaNews.Portal.config transformation visit http://msdn.microsoft.com/pt-br/library/dd465326(v=vs.100).aspx -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=172.31.8.176;Database=massa_news;User Id=saredemassa;Password=LQNrfPSPf7;MultipleActiveResultSets=true;Connect Timeout=5000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HangFireConnection" connectionString="Server=172.31.8.176;Database=hangfireportal;User Id=saredemassa;Password=LQNrfPSPf7;MultipleActiveResultSets=true;Connect Timeout=5000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlCDN" value="https://cdn.massanews.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlWeb" value="https://massanews.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UrlShare" value="https://massanews.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewRelic.AppName" value="PROD - Massa News - Portal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AgentEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ElasticIndexName" value="massa-news" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ProxyAddress" xdt:Transform="RemoveAll" xdt:Locator="Match(key)" />
    <add key="ProxyPort" xdt:Transform="RemoveAll" xdt:Locator="Match(key)" />
    <add key="ProxyUser" xdt:Transform="RemoveAll" xdt:Locator="Match(key)" />
    <add key="ProxyPassword" xdt:Transform="RemoveAll" xdt:Locator="Match(key)" />
    <add key="RedisServer" value="massa-news.gpijky.0001.use1.cache.amazonaws.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AWSBucketName" value="static.massanews.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Editorial por Categoria-->
    <add key="CategoriaNoticias" value="1,2,11,15,139,16,17,52,53,62,114"/>
    <add key="CategoriaEsportes" value="68,71,63,67,64,81,111,84,65,74"/>
    <add key="CategoriaEntretenimento" value="85,110,57,76,126,58,55,59,54,75,128,140"/>
    <add key="CategoriaWhereCuritiba" value="87,89,90,93,94"/>
    <add key="CategoriaNegociosDaTerra" value="138,131,137,153,130,132,133,134,135,136"/>
    <add key="CategoriaViajarEMassa" value="143,144,145,146,155,154"/>
    <!-- RedeMassa -->
    <!-- <add key="MongoDBHost" value="mongodb://localhost:27017" /> -->
    <add key="MongoDBHost" value="mongodb://34.201.181.18:27017" /> 
    <add key="MongoDBName" value="Scrinter_Dev" />
    <!-- Cotação page Negócios da Terra -->
    <add key="NTCotacaoParana" value="23,22" />
    <add key="NTCotacaoSantaCatarina" value="36,35" />
    <!-- Autenticacao Florinda -->
    <add key="FlorindaUrl" value="https://conta.grupomassa.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FlorindaApiUrl" value="https://conta.grupomassa.com.br:8443" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteUrl" value="https://massanews.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="RemoveAll"/>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="/Error/NotFound" responseMode="ExecuteURL" />
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" subStatusCode="-1" path="/Error/BadRequest" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" subStatusCode="-1" path="/Error/InternalServerError" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="PagePHP" stopProcessing="true">
          <match url="^.*\.php(\?.*)?$" />
          <action type="Redirect" url="https://massanews.com/" appendQueryString="false" />
        </rule>
        <!--<rule name="WpAdmin" stopProcessing="true">
          <match url="(.*)?wp-admin/?$" />
          <action type="Redirect" url="https://massanews.com/" appendQueryString="false" />
        </rule>-->
        <rule name="HostName" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^massanews\.com$" ignoreCase="true" negate="true" />
            <add input="{HTTP_USER_AGENT}" matchType="Pattern" pattern=".*HealthChecker.*" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="https://massanews.com/{R:1}" />
        </rule>
        <rule name="HTTPS rewrite behind ELB rule" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{SERVER_NAME}{URL}" />
        </rule>
      </rules>    
    </rewrite>
  </system.webServer>
</configuration>