<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=52.204.98.128;Initial Catalog=massa_news;Persist Security Info=True;User ID=saredemassa;Password=LQNrfPSPf7" providerName="System.Data.SqlClient" /> 
    <add name="HangFireConnection" connectionString="Data Source=52.204.98.128;Initial Catalog=hangfireportal;Persist Security Info=True;User ID=saredemassa;Password=LQNrfPSPf7" providerName="System.Data.SqlClient" />

    <!-- <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=massa_news;Integrated Security=True" providerName="System.Data.SqlClient" />    -->
    <!--<add name="DefaultConnection" connectionString="Server=.;Database=massa_news;User Id=sa;Password=massanews@2016;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

    <!-- <add name="DefaultConnection" connectionString="Data Source=SAULO;Initial Catalog=massa_news;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HangFireConnection" connectionString="Data Source=SAULO;Initial Catalog=hangfireportal;Integrated Security=True" providerName="System.Data.SqlClient" />   -->
  </connectionStrings>
  <appSettings>
    <!-- MVC Settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--Environment-->
    <add key="Environment" value="dev" />
    <!-- Massa News Settings -->
    <add key="UrlShare" value="http://localhost:51174" />
    <add key="UrlWeb" value="http://localhost:51174" />
    <add key="TakeNoticias" value="20" />
    <add key="TakeBlogPosts" value="20" />
    <add key="AppIdOpenWeather" value="bf22812afabab8a82925c9a0b2c1dd5b" />
    <add key="FacebookAppId" value="154958548449276" />
    <!-- SiteMap -->
    <add key="SiteMapPageItens" value="10000" />
    <!-- AWS S3 -->
    <add key="AWSKeyId" value="AKIAJFTKZEXGL6AJZK7A" />
    <add key="AWSAccessKey" value="dbOOrw3/hrhCHKhwXW3FSZZYqtrU4+Esv6SExFC/" />
    <add key="AWSBucketName" value="dev.massanews.com" />
    <!-- AWS CDN Cloud Front -->
    <add key="UrlCDN" value="https://cdn.massanews.com" />
    <!-- AWS ElasticSearch -->
    <add key="ElasticSearch" value="http://elastic.massanews.com" />
    <add key="ElasticIndexName" value="massa-news" />
    <add key="UrlDominioEstaticoUploads" value="https://s3.amazonaws.com/dev.massanews.com/uploads" />
    <!--Redis-->
    <add key="RedisServer" value="localhost" />
    <!-- New Relic -->
    <add key="NewRelic.AgentEnabled" value="false" />
    <!-- Proxy -->
    <!--<add key="ProxyAddress" value="192.168.20.1" />
    <add key="ProxyPort" value="3128" />
    <add key="ProxyUser" value="dirceu wilian" />
    <add key="ProxyPassword" value="alyne110207" />-->
    <add key="NewRelic.AppName" value="MassaNews.Portal" />
    <!--Editorial por Categoria-->
    <add key="CategoriaNoticias" value="1,2,11,15,139,16,17,52,53,62,114" />
    <add key="CategoriaEsportes" value="68,71,63,67,64,81,111,84,65,74" />
    <add key="CategoriaEntretenimento" value="85,110,57,76,126,58,55,59,54,75,128,140" />
    <add key="CategoriaWhereCuritiba" value="87,89,90,93,94" />
    <add key="CategoriaNegociosDaTerra" value="138,131,137,153,130,132,133,134,135,136" />
    <add key="CategoriaViajarEMassa" value="143,144,145,146,155,154" />
    <!-- Bussines -->
    <add key="LogTags" value="false" />
    <!-- Cotação page Negócios da Terra -->
    <add key="NTCotacaoParana" value="23,22" />
    <add key="NTCotacaoSantaCatarina" value="36,35" />    
    <!-- Autenticacao Florinda -->
    <add key="FlorindaUrl" value="http://localhost:5000" />
    <add key="FlorindaApiUrl" value="http://localhost:5001" />
    <add key="FlorindaCertificatePath" value="C:\Certificado\certificate.pem" />
    <add key="SiteUrl" value="http://localhost:5002/" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="SvgCompressionModule" type="MassaNews.Portal.SvgCompressionModule" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="90" maxRequestLength="10485760" />
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewRelic.Api.Agent" publicKeyToken="06552fced0b33d87" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.1.0" newVersion="6.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SvgCompressionModule" type="MassaNews.Portal.SvgCompressionModule" />
    </modules>
    <handlers>
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
      <add name="xmlFileHandler" path="*.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="htmlFileHandler" path="*.html" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="RobotsText" path="robots.txt" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
        <!-- HERE -->
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/font-woff" enabled="true" />
        <add mimeType="application/x-font-ttf" enabled="true" />
        <add mimeType="application/octet-stream" enabled="true" />
        <!-- HERE -->
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
        <!-- HERE -->
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/font-woff" enabled="true" />
        <add mimeType="application/x-font-ttf" enabled="true" />
        <add mimeType="application/octet-stream" enabled="true" />
        <!-- HERE -->
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="naoresponder@massanews.com">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAIKGGK65DTU7YN4EQ" password="AgtWF0ZKYgPlyRHqjj3KfdQscQmXjK7YlReQ73hsiGuy" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>