@section bodyClass{@Html.Raw("pg-tocha-olimpica")}
<main class="g-main">
  @Html.Partial("_ReguaOlimpiadasLinks")

  <section class="mask-info">
    <iframe id="info-tocha-olimpica" src="//infograficos.estadao.com.br/externos/r7/jogos-olimpicos/2016/por-dentro-da-tocha-olimpica/" width="100%" height="8000" scrolling="no" frameborder="0" style="border:none;"></iframe>
  </section>
</main>