@section bodyClass{@Html.Raw("pg-calendario-competicoes")}
<main class="g-main">
  @Html.Partial("_ReguaOlimpiadasLinks")

  <section class="mask-info">
    <iframe id="info-calendario-competicoes" src="//infograficos.estadao.com.br/externos/r7/jogos-olimpicos/2016/calendario-competicao-jogos-olimpicos/" width="100%" height="5000" scrolling="no" frameborder="0" style="border:none;"></iframe>
  </section>
</main>