@section bodyClass{@Html.Raw("pg-candidatos-eleicoes")}

<main class="g-main">
  @Html.Partial("_ReguaEleicoesLinks")

  <div class="g-content-inner-sidebar g-container t-content">
    <iframe src="//divulgacandcontas.tse.jus.br/divulga/#/estados/2016/2/PR/municipios" marginwidth="0" marginheight="0" width="100%" height="2000px" frameborder="0" title="Divulgação de Candidaturas e Contas Eleitorais"></iframe>
  </div>
</main>