@section bodyClass{@Html.Raw("pg-cookies")}

<main class="g-main">
  <div class="g-container">
    <section class="institucinais__center">
      <p>Cookies são pequenos arquivos de textos gerados pelo portal Massa News enquanto você o visita, que são transferidos para seu computador, sendo armazenados pelos programas de navegação.</p>
      <p>Ao visitar o site pela primeira vez, ou após toda vez que você limpar os Cookies do seu navegador, o Cookie é salvo no seu computador, permitindo que você seja sempre automaticamente reconhecido pelo site. Assim, sua experiência de navegação no portal Massa News é otimizada, buscando tendências de visitas, páginas navegadas ou links clicados. Ele também permite o preenchimento automático de formulários, agilizando processos.</p>
      <p>Os Cookies não são utilizados para descobrir a identidade do usuário, executar programas, nem possibilitam que seu computador seja infectado com vírus ou programas maliciosos. Sempre que quiser remover Cookies instalados ou impedir a instalação de novos, basta desativar o recurso em seu navegador.</p>
    </section>
  </div>
</main>