@section bodyClass{@Html.Raw("pg-sobre")}
<main class="g-main">
  <div class="t-content g-container">
    <section class="institucinais__center institucinais__center--small">
      <h2 class="h2">Selecione um assunto</h2>
      <div class="mask-select">
        <select class="select-assunto">
          <option value="">Selecione um assunto</option>
          <option value="assunto1">Reportar erros no site</option>
          <option value="assunto2">Sugerir ideias e melhorias</option>
          <option value="assunto3">Enviar pautas e conteúdo</option>
          <option value="assunto4">Quero anunciar no Massa News</option>
          <option value="assunto5">Quero trabalhar no Massa News</option>
          <option value="assunto6">Outros assuntos</option>
        </select>
      </div>
      <section class="area-assuntos">
        <div id="assunto1" class="institucinais__box">
          <p class="highlight-center">
            Por favor envie sua solicitação para
            <a href="mailto:bugs@massanews.com.br" title="Clique para enviar um email">bugs@massanews.com.br</a>
          </p>
        </div>
        <div id="assunto2" class="institucinais__box">
          <p class="highlight-center">
            Por favor envie sua solicitação para
            <a href="mailto:ideias@massanews.com.br" title="Clique para enviar um email">ideias@massanews.com.br</a>
          </p>
        </div>
        <div id="assunto4" class="institucinais__box">
          <p class="highlight-center">
            Por favor envie sua solicitação para
            <a href="mailto:comercial@massanews.com.br" title="Clique para enviar um email">comercial@massanews.com.br</a>
          </p>
        </div>
        <div id="assunto5" class="institucinais__box">
          <p class="highlight-center">
            Por favor envie sua solicitação para
            <a href="mailto:jobs@massanews.com.br" title="Clique para enviar um email">jobs@massanews.com.br</a>
          </p>
        </div>
        <div id="assunto6" class="institucinais__box">
          <p class="highlight-center">
            Por favor envie sua solicitação para
            <a href="mailto:contato@massanews.com.br" title="Clique para enviar um email">contato@massanews.com.br</a>
          </p>
        </div>
      </section>
      @*<section class="institucinais__social">
        <h3 class="title h3">Siga a Massa News</h3>
        <ul class="c-social-links">
          <li><a href="https://www.facebook.com/massanewspr/" target="_blank" class="icon" title="Facebook">
            <span class="fa-stack fa-lg color-facebook">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li><a href="https://www.youtube.com/c/+massanewspr?sub_confirmation=1" target="_blank" class="icon" title="Youtube">
            <span class="fa-stack fa-lg color-youtube">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li><a href="https://twitter.com/massanewspr" target="_blank" class="icon" title="Twitter">
            <span class="fa-stack fa-lg color-twitter">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li><a href="https://www.instagram.com/massanews/" target="_blank" class="icon" title="Instagram">
            <span class="fa-stack fa-lg color-instagram">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
          <li data-tooltip="Siga: MassaNews">
            <span class="icon">
              <span class="fa-stack fa-lg color-snapchat">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
              </span>
            </span>
          </li>
          <li><a href="https://plus.google.com/104695448131908618320" target="_blank" class="icon" rel="publisher" title="Google Plus">
            <span class="fa-stack fa-lg color-google-plus">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
          </a></li>
        </ul>
      </section>*@
    </section>
  </div>
</main>
