@section bodyClass{@Html.Raw("pg-legado-olimpico")}
<main class="g-main">
  @Html.Partial("_ReguaOlimpiadasLinks")

  <section class="mask-info">
    <iframe id="info-legado-olimpico" src="//infograficos.estadao.com.br/externos/r7/jogos-olimpicos/2016/legado-olimpico/" width="100%" height="6500" scrolling="no" frameborder="0" style="border:none;"></iframe>
  </section>
</main>