@section bodyClass{@Html.Raw("pg-sobre")}

<main class="g-main">
  <div class="g-content-inner-sidebar g-container">
    <div class="c-banner c-banner--image">
      <img src="@Url.Content("~/content/images/banners/sobre-nos.jpg")" class="c-banner__image" alt="Massa News - A notícia em movimento!">
    </div>

    <section class="g-content">
      <h2 class="h2">A notícia em movimento</h2>
      <p>O Massa News é uma empresa de conteúdo e tecnologia do <a href="http://grupomassa.com.br?utm_source=MassaNews&utm_medium=sobre-nos" target="_blank"><u>Grupo Massa</u></a>, focada na produção e distribuição online de jornalismo local, com cobertura em todas as regiões do Paraná. Está presente nas principais redes sociais e possui uma plataforma própria otimizada para diversos dispositivos como PCs, tablets e smartphones, entregando conteúdo personalizado de acordo com cada região e contexto do usuário. </p>

      @*<h2 class="h2">Propósito</h2>
      <p>Produzir e disponibilizar, através da internet, informação gratuita e de qualidade aos paranaenses, praticando um jornalismo cidadão calçado nos valores fundamentais da marca.</p>

      <h2 class="h2">Visão</h2>
      <p>Difundir a informação em defesa da cidadania, construindo uma sociedade mais justa, conectada e engajada com o desenvolvimento e bem-estar da comunidade.</p>

      <h2 class="h2">Valores</h2>
      <ul class="list-default">
        <li>Isenção</li>
        <li>Transparência</li>
        <li>Apuração</li>
        <li>Liberdade de expressão</li>
        <li>Prestação de serviço</li>
        <li>Mobilidade</li>
        <li>Inovação</li>
        <li>Colaboração</li>
        <li>Compromisso com a experiência do usuário</li>
      </ul>

      <h2 class="h2">Nosso público</h2>
      <p>Paranaenses e simpatizantes de todas as classes sociais, conectados a internet, que necessitam estarem bem informados sobre o que acontece no mundo e na sua região.</p>
      *@

      <h2 class="h2">História do Grupo Massa</h2>
      <p>Originalmente paranaense e tendo como acionista o empresário e apresentador de televisão Carlos Massa, o Ratinho, o Grupo Massa é hoje uma corporação que emprega diretamente cerca de 1.000 colaboradores em todo o país.</p>
      <p>São empresas que atuam nas áreas de comunicação, agropecuária, administração e licenciamento de marcas, personagens e programas de televisão, administração de imóveis e participação em diversos outros segmentos de negócios.</p>
      <p>A comunicação está no DNA do grupo, que  vem se consolidando como um dos maiores do país. Com atuação forte na <a href="https://redemassa.com.br/?utm_source=MassaNews&utm_medium=sobre-nos" target="_blank"><u>televisão</u></a>, <a href="http://massafm.com.br/" target="_blank"><u>rádio FM</u></a> e, agora, na internet, possui veículos líderes e com grande poder de mobilização junto às comunidades onde atua.</p>
    </section>

    <aside class="g-aside">
      <div class="expediente">
        <h2 class="h2">Expediente</h2>
        <div class="person">
          <strong class="name">Mauro Lissoni</strong>
          <div class="description">
            <span class="funcao">Diretor de conteúdo</span>
          </div>
        </div>

        <h3>Conselho Geral</h3>
        <div class="person">
          <strong class="name">Gelson Negrão</strong>
        </div>

        <h3>Conselho Editorial</h3>
        <div class="person">
          <strong class="name">Fabiano Falkembach</strong>
          <br><strong class="name">Mariana Damas</strong>
          <br><strong class="name">Patrícia Cavallari</strong>
        </div>

        <h3>Redação</h3>
        <div class="person">
          <strong class="name">Patricia Tressoldi</strong>
          <div class="description">
            <span class="funcao">Editora-chefe</span>
            <span class="phone">(41) 3091-9101</span>
            <span class="email"><a href="mailto:curitiba@massanews.com">curitiba@massanews.com</a></span>
          </div>
        </div>

        <h3>Comercial</h3>
        <div class="person">
          <strong class="name">Massa Multidigital</strong>
          <div class="description">
            <span class="phone">(41) 3091-9044</span>
            <span class="email"><a href="http://massadigital.com" title="Massa Multidigital" target="_blank">massadigital.com</a></span>
            <span class="email"><a href="mailto:contato@massadigital.com">contato@massadigital.com</a></span>
          </div>
        </div>

        <h3>Criação visual e Comunicação</h3>
        <div class="person">
          <strong class="name">Joezer P. Xavier</strong>
        </div>
      </div>
    </aside>
  </div>
</main>